
<article class="text-warning text-md-end pe-md-4 my-2 my-md-0 text-center h4">
    <i class="fa-solid fa-house-medical-circle-exclamation user-select-none">Recommended</i>
</article>



  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="30000" *ngFor="let jaggedMedicine of jaggedMedicines; let i = index" [ngClass]="{'active': i === 0}" >

        <section class="my-3 px-3 d-flex flex-column flex-md-row justify-content-center">

          <div class="card my-2 mx-md-2" style="min-width: 18rem;" *ngFor="let medicine of jaggedMedicine;">
            <div class="d-flex justify-content-center h3 mt-2">
              <i [ngClass]="medicine.image_asset" [ngStyle]="{'color': medicine.image_color}"></i>
            </div>

            <div class="card-body">
              <h5 class="card-title">{{medicine.name}}</h5>
              <p class="card-text text-center">{{medicine.description}}</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Buy and Assign</a>
              </div>

            </div>

          </div>



        </section>

      </div>


    </div>

  </div>



