
<div class="container-fluid shadow border-bottom border-dark bg-light d-flex justify-content-md-between justify-content-center align-items-center">

  <div class="d-flex">
    <div class="m-1 logo">
      <i class="fa-solid fa-shield-heart"></i><i class="fa-solid fa-children"></i><i class="fa-solid fa-child-reaching"></i><i class="fa-solid fa-hamsa"></i>
    </div>

    <div class="headline_text" *ngIf="visibleIfGreaterThanXSWidth()">{{logoText}}</div>
  </div>

  <section>
    <div class="d-flex">
      <i class="fa-solid fa-handcuffs m-1"></i>
      <div class="headline_text" *ngIf="visibleIfGreaterThanXSWidth()">{{detainJuvenileText}}</div>
    </div>

    <div class="d-flex">
      <i class="fa-solid fa-building-shield m-1"></i>
      <div class="headline_text" *ngIf="visibleIfGreaterThanXSWidth()">{{detentionFacilityText}}</div>
    </div>
  </section>




  <!--
    SO JING HOW ARE YOU GOING TO MAKE THIS?!
  I DON"T KNOW. I AM THINKING ABOUT IT!
  WHY DON'T YOU THINK FASTER INSTEAD SLOWPOKE?
  I DON'T KNOW. I JUST WANT TO CONSIDER ALL POSSIBILITIES!
  WELL DAMNIT JING. HURRY. WE ONLY HAVE 2 WEEKS TO GO!
  -->


</div>
