<div class="text-warning mt-2 ms-2 user-select-none mb-2">
  <i class="fa-solid fa-person-rays">Recruit Staff</i>
</div>
<div>
  <form>
    <!-- divide it into 2 sections -->
    <div class="d-flex justify-content-center mb-2">
      Recruit Name
    </div>
    <div class="d-flex justify-content-center mb-2">
      Recruit Gender
    </div>
    <div class="d-flex justify-content-center mb-2">
      Recruit Age
    </div>
    <div class="d-flex justify-content-center mb-2">
      Recruit Description
    </div>

    <div class="d-flex justify-content-center">
      <button mat-raised-button>Admit</button>
      <button mat-raised-button color="warn" class="mx-2">Reject</button>
      <button mat-raised-button>More Info</button>
    </div>
  </form>
</div>


