<!--<section class="border border-dark" style="min-height: 8em;"> -->
<section class="d-flex flex-md-row flex-column" style="min-height: 12em;">

 <!-- This is The TV part of the app.  -->
  <div class="col-md-3 d-flex justify-content-center border border-success">
    <img src="assets/images/staff/scarecrow.svg" style="max-height: inherit; width: inherit;"/>
  </div>
  <div class="col-md-6 border border-success">
    <canvas> 2 </canvas>
  </div>
  <div class="col-md-3 border border-success">
    <canvas> 3 </canvas>
  </div>


</section>
