<!--<section class="border border-dark" style="min-height: 8em;"> -->
<section class="d-flex flex-md-row flex-column border-top border-bottom border-warning my-3" style="min-height: 12em;">
<!--TODO Status badges needs to be implemented -->

 <!-- This is The TV part of the app.  -->
  <div class="col-md-3 d-flex justify-content-center align-items-center">

      <img src="assets/images/staff/s0.svg" style="max-height: 8em;"/>

  </div>
  <div class="col-md-6 d-flex flex-column" >
    <!-- this get image/emoji/fontawesome/bootstrap icon sequences 1 -> 2 -> 3 -> 4 -> 5 -->

    <div class="d-flex">
      <div class="mx-2">A attempts to</div>
      <div>Rehab</div>
      <div class="mx-2">B </div>
    </div>

    <div class="d-flex justify-content-center my-2">
      <img src="assets/images/action/punish/f2.gif" style="max-height: 9em; min-width: 55%;" >
    </div>

    <div class="d-flex flex-row-reverse">
      <div class="mx-2">Rehab Fails</div>
    </div>

  </div>
  <div class="col-md-3 d-flex justify-content-center align-items-center">

    <img src="assets/images/juvenile/d0.svg" style="max-height: 8em;"/>

  </div>



</section>

