
<section>

<div class="d-flex justify-content-center" style="min-width: 18em;">


  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm position-relative" (click)="RotateJuvenile()" >

    <div class="d-flex position-absolute" style="top:-2.8em; left:-1.8em;" (mouseleave)="closeJuvenile()" [ngClass]="{'d-none': juvenile_dropdown === false, 'd-block': juvenile_dropdown === true}" >
      <div class="bg-light border-start  small px-3 cursorDD">Intake Juvenile</div>
      <div class="bg-light border-start  small px-3 cursorDD">Detain Juvenile</div>
      <div class="bg-light border-start  small px-3 cursorDD">Adjudicate Juvenile</div>
      <div class="bg-light border-start border-end small px-3 cursorDD">Release Juvenile</div>
    </div>

    <div class="cursorDD">
      Juvenile
    </div>

  </div>

  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm position-relative" (click)="RotateStaff()">

    <div class="d-flex position-absolute" style="top:-2.8em; left:-1.8em;" (mouseleave)="closeStaff()" >
      <div class="bg-light border-start  small px-3">Recruit Staff</div>
      <div class="bg-light border-start  small px-3">Detain Staff</div>
      <div class="bg-light border-start  small px-3">Train Staff</div>
      <div class="bg-light border-start border-end small px-3" #newItem>Release Staff</div>
    </div>

    <div class="cursorDD" (click)="addStaffEmitter(newItem.innerText)">
      Staff
    </div>

  </div>

  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm position-relative">

    <div class="d-flex position-absolute d-none" style="top:-2.8em; left:-1.8em;">

      <div class="bg-light border-start  small px-3">Build Facility</div>
      <div class="bg-light border-start  small px-3">Abandon Facility</div>
      <div class="bg-light border-start  small px-3">Repair Facility</div>

    </div>



    <div class="cursorDD">
      {{item}}
    </div>

  </div>

  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm">


    <div class="cursorDD">
      <i class="fa-solid fa-gears"></i>
    </div>



  </div>

</div>




</section>
