
<section>

<div class="d-flex justify-content-center" style="min-width: 18em;">

  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm">Juvenile</div>
  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm">Staff</div>
  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm">Facility</div>
  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm"><i class="fa-solid fa-gears"></i></div>

</div>


  <!--

  <div class="bg-light border-start border-end border-bottom small px-3">Intake a Juvenile</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Detain a Juvenile</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Adjudicate a Juvenile</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Release a Juvenile</div>

  <div class="bg-light border-start border-end border-bottom small px-3">Recruit Staff</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Train Staff</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Release Staff</div>

  <div class="bg-light border-start border-end border-bottom small px-3">Build a Detention Facility</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Abandon a Detention Facility</div>
  <div class="bg-light border-start border-end border-bottom small px-3">Available Juveniles</div>

  -->

</section>
