
<section>

<div class="d-flex justify-content-center" style="min-width: 18em;">


  <div class="bg-light small px-3 shadow-sm position-relative" (click)="RotateJuvenile()"  >

    <div class="d-flex position-absolute" style="top:-3.2em; left:-1.8em;" (mouseleave)="closeJuvenile(); closeStaff(); CloseFacility()" [ngClass]="{'d-none': juvenile_dropdown === false, 'd-block': juvenile_dropdown === true}" >
      <div class="bg-light  small px-3 cursorDD" (click)="onIntakeSelected()"  routerLink="/intakeJ">Intake Juvenile</div>
      <div class="bg-light  small px-3 cursorDD" (click)="OnDetainSelected()" routerLink="/detainJ">Detain Juvenile</div>
      <div class="bg-light  small px-3 cursorDD" (click)="OnActionSelected('---', 'Adjudicate Juvenile', 'Click', '---', '---')" routerLink="/judicateJ">Adjudicate Juvenile</div>
      <div class="bg-light small px-3 cursorDD" (click)="OnActionSelected('---', 'Release Juvenile', 'Click', '---', '---')" routerLink="/releaseJ">Release Juvenile</div>
    </div>

    <div class="cursorDD" appBetterToggleStaff [someStuffFromBetter]="juvenile_dropdown">
      Juvenile
    </div>

  </div>

  <div class="bg-light small px-3 shadow-sm position-relative" (click)="RotateStaff()" >

    <div class="d-flex position-absolute" style="top:-3.2em; left:-1.8em;" (mouseleave)="closeJuvenile(); closeStaff(); CloseFacility()" [ngClass]="{'d-none': staff_dropdown === false, 'd-block': staff_dropdown === true}">
      <div class="bg-light  small px-3 cursorDD" (click)="GoToRecruitStaff();OnActionSelected('---', 'Recruit Staff', 'Click', '---', '---')">Recruit Staff</div>
      <div class="bg-light  small px-3 cursorDD" (click)="GoToDetainStaff();OnActionSelected('---', 'Detain Staff', 'Click', '---', '---')">Detain Staff</div>
      <div class="bg-light  small px-3 cursorDD" (click)="GoToTrainStaff();OnActionSelected('---', 'Train Staff', 'Click', '---', '---')">Train Staff</div>
      <div class="bg-light  small px-3 cursorDD" (click)="GoToReleaseStaff();OnActionSelected('---', 'Release Staff', 'Click', '---', '---')" #newItem>Release Staff</div>
    </div>

    <div class="cursorDD" (click)="addStaffEmitter(newItem.innerText)">
      Staff
    </div>

  </div>

  <div class="bg-light small px-3 shadow-sm position-relative" (click)="RotateFacility()" >

    <div class="d-flex position-absolute" style="top:-3.2em; left:-1.8em;" (mouseleave)="closeJuvenile(); closeStaff(); CloseFacility()" [ngClass]="{'d-none': facility_dropdown === false, 'd-block': facility_dropdown === true}">

      <div class="bg-light cursorDD small px-3" (click)="GoToBuildFacility();OnActionSelected('---', 'Build Facility', 'Click', '---', '---')">Build Facility</div>
      <div class="bg-light cursorDD small px-3" (click)="GoToAbandonFacility();OnActionSelected('---', 'Abandon Facility', 'Click', '---', '---')">Abandon Facility</div>
      <div class="bg-light cursorDD small px-3" (click)="GoToRepairFacility();OnActionSelected('---', 'Repair Facility', 'Click', '---', '---')">Repair Facility</div>

    </div>

    <div class="cursorDD"  >
      {{item}}
    </div>

  </div>

  <div class="bg-light border-start border-end border-bottom small px-3 shadow-sm"
       appToggleStaff [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false"
       triggers="manual" #gearPop="ngbPopover" triggers="click:click" placement="bottom">

    <div (click)="OnActionSelected('---', 'Login', 'Click', '---', '---')">
      <i class="fa-solid fa-gears" ></i>
    </div>

    <ng-template #popContent>


      <div class="d-flex flex-column justify-content-center" (mouseleave)="gearPop.close()">

        <form (ngSubmit)="OnLogin()" #loginForm="ngForm" *ngIf="loggedIn===false; else planB">
          <div>
            <input class="form-control mb-2" [(ngModel)]="email" required name="email" type="text" placeholder="Email" >
            <input class="form-control mb-2" [(ngModel)]="password" required name="password" type="password" placeholder="Password" >
          </div>

          <div class="d-flex justify-content-evenly">
            <button type="submit" mat-raised-button>Login</button>
            <button type="button" mat-raised-button (click)="OnRegister()">Register</button>
          </div>
        </form>

        <ng-template #planB>
          <form (ngSubmit)="OnLogout(logoutForm)" #logoutForm="ngForm">
            <div class="d-flex justify-content-center mb-2">
              Logged in as -- <i>{{this.email.slice(0,10)}}</i>
            </div>
            <div class="d-flex justify-content-evenly">
              <button type="submit" mat-raised-button>Logout</button>
            </div>
          </form>
        </ng-template>


      </div>



    </ng-template>

    <ng-template #popTitle>
      <div class="d-flex justify-content-center">
        <i>Authentication</i>
      </div>

    </ng-template>

  </div>

</div>




</section>
