
<app-headline></app-headline>

<app-navigation [item]="currentItem"  (newItemEvent)="parentSays($event)"></app-navigation>

<app-navigation-space></app-navigation-space>

<div class="container-fluid row row-cols-md-2 row-cols-1">

  <div class=" border border-dark" style="min-width: 25em; min-height: 11em;">

    <!-- some input component from navigation menu dropdown -->
    <router-outlet></router-outlet>

  </div>

  <div class="border border-dark" style="min-width: 25em; min-height: 11em;">
    <app-search></app-search>
  </div>



</div>



<app-popular></app-popular>

<!-- Parent Element Contains Footer, where all actions from interactions are recorded. -->
<div class="container-fluid bg-secondary shadow-sm border-light border px-1">

</div>

<app-footer ></app-footer>
