
<app-headline></app-headline>

<app-navigation [item]="currentItem"  (newItemEvent)="parentSays($event)"></app-navigation>

<app-navigation-space></app-navigation-space>



<app-search></app-search>

<app-popular></app-popular>

<!-- Parent Element Contains Footer, where all actions from interactions are recorded. -->
<div class="container-fluid bg-secondary shadow-sm border-light border px-1">

</div>
<div class="px-2">

  <table class="table table-bordered table-striped">
    <tr>
      <th>Timestamp</th> <th>Facility</th> <th>Action</th> <th>Staff</th> <th>Juvenile</th> <th>Result</th>
    </tr>
    <tr>
      <td>xx xx</td> <td>xx xx</td> <td>xx xx</td> <td>xx xx</td> <td>xx xx</td> <td>xx xx</td>
    </tr>
  </table>



</div>
